@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@media only screen and (orientation: portrait) and (max-width: 479px){
  .header-mobile {
    content-visibility: visible !important;
    display: flex !important;
  }
}

/* RESET */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #fff;
}

/* GLOBAL */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 8px;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 2em;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav ul li a {
  display: inline-block;
  border-bottom: 5px solid transparent;
  transition: 200ms;
  color: #fff;
}

nav ul li a:hover {
  transform: translateY(-5px);
  border-bottom-color: red;
}

/* TITRES / BOUTONS */
.nav-title_links,
footer .container-logo a {
  color: #ff0004;
  font-weight: bolder;
  font-size: 35px;
}

.link-btn_red {
  background-color: #ff0004;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

/* ICONES */
.arrow-up {
  padding: 5px;
  background-color: red;
  color: black;
  border-radius: 100%;
  font-size: 12px;
}

.arrow-up i {
  animation: arrow_up 500ms infinite alternate-reverse linear;
}

@keyframes arrow_up {
  from { transform: translateY(1px); }
  to { transform: translateY(-1px); }
}

/* TEXTES */
summary {
  font-size: 1.5em;
  font-weight: bold;
}

.redFont {
  color: red;
}

/* EVENTS / CALENDAR */
.event-mouseover-animation {
  border: 4px solid red;
}

.fc {
  color: red;
  font-weight: bold;
}

.fc-toolbar {
  margin-top: 1.5em;
  padding: 0 1em;
}

.fc-toolbar-title {
  margin: 0 8px;
  color: white;
  text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion,
.fc-multimonth-title {
  text-transform: capitalize;
}

.fc .fc-list-sticky .fc-list-day > * {
  border: 1px solid black;
}

.fc-theme-standard .fc-list-day-cushion {
  background: red;
  color: black;
  border: 1px solid black;
}

.fc div.fc-multimonth-month div.fc-multimonth-header,
.fc-multimonth-month .fc-multimonth-daygrid {
  background-color: black;
}

.fc .fc-multimonth-multicol div.fc-multimonth-month {
  padding: 0 0.6em 1.2em;
}

/* EVENTS LAYOUT */
#evtImg {
  width: 100%;
  height: 40vh;
  background: center / cover no-repeat;
  border: none;
}

#events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#calendar {
  width: 70rem;
  height: 120%;
}

#evt {
  width: 35rem;
  padding: 1rem 0;
}

#evt h1 {
  text-align: center;
  margin: 2rem 0;
}