.event-mouseover-animation {
    border: 4px red solid;
}

.fc {
    color: red;
    font-weight: bold;
}

.fc-toolbar {
    margin-top: 1.5em;
    padding: 0 1em;
}

.fc-toolbar-title {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}

.fc .fc-list-sticky .fc-list-day > *{
    border: 1px solid black;
}

.fc-theme-standard .fc-list-day-cushion {
    background: red;
    color: black;
    border: 1px solid black;
}

.fc-toolbar-title,
.fc .fc-col-header-cell-cushion,
.fc-multimonth-title {
    text-transform: capitalize;
}

.fc div.fc-multimonth-month div.fc-multimonth-header,
.fc-multimonth-month .fc-multimonth-daygrid {
    background-color: black;
}

.fc .fc-multimonth-multicol div.fc-multimonth-month {
    padding: 0 0.6em 1.2em
}