@font-face {
    font-family: 'street-fighter';
    src: url('./police_streetFighter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 1079px) {
  footer nav {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .container-main {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  header nav ul {
    display: none;
  }

  .contact,
  .social-proff {
    flex-direction: column;
  }

  .header-burger_icon {
    display: flex;
    font-size: 30px;
    color: #ff0004;
  }

  main {
    padding: 0;
  }

  main img {
    display: none;
  }

  .container-main {
    width: 100%;
  }

  .container-footer,
  footer nav {
    gap: 20px;
  }

  footer nav ul {
    flex-wrap: wrap;
  }

  .container-footer,
  footer nav,
  .contact {
    flex-direction: column;
  }
}

