/********GLOBAL & RESET********/
@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  /* Ces propriétés ont été déplacées de html{} vers le sélecteur universel */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  /* margin: 0; padding: 0; ont été retirés car dans *{} */
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: sans-serif; /* Sera écrasé par *{} */
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 50px 0px;
  width: 100%; /* Déplacé de main img, section, footer */
}

body,
header a,
.link-btn_red,
.container-main,
.container-team button,
.proff:hover small,
footer nav ul li a {
  color: #fff;
}

/********HEADER********/

.header-mobile {
  display: none;
  padding: 50px;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  gap: 100px;
  justify-content: start;
  /* Regroupement des propriétés de .header-mobile et ses enfants */
  flex-direction: column;
  align-items: center;
}

.header-mobile:target {
  display: flex;
}

.header-mobile ul {
  /* Les propriétés display/flex-direction/justify-content/align-items ont été remontées */
  gap: 50px;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-mobile nav {
  height: auto;
  justify-content: right;
  font-size: 35px;
}

.header-mobile ul a {
  color: #fff;
}

header {
  z-index: 2;
  background-color: black;
  top: 0;
  margin-top: 0;
  position: sticky;
  height: 78px;
  /* Regroupement des propriétés de header, .container-logo, ul, .social-proff, .proff, .card_links */
  display: flex;
  align-items: center;
  justify-content: center;
}

nav,
.container-logo {
  height: 100%;
}

.container-logo img {
  height: 90%;
}

header a {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
}

nav ul li a {
  display: inline-block;
  border-bottom: 5px solid transparent;
  transition: 200ms; /* Déplacé de la liste card button, etc. */
}

.header-burger_icon {
  display: none;
}

.container-footer_links i,
.card i {
  cursor: pointer;
}

nav ul li a:hover {
  transform: translateY(-5px);
  border-bottom-color: red;
}

/* header, .container-logo, ul, .social-proff, .proff, .card_links { ... } -> Fusionné dans header */

nav {
  display: flex; /* Retiré du regroupement ci-dessus car il est plus spécifique ici */
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.container-logo {
  gap: 25px;
}

nav ul {
  gap: 40px;
}

.nav-title_links,
footer .container-logo a {
  color: #ff0004;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Manufacturing Consent", system-ui; /* Regroupé depuis main h1, .nav-title_links, etc. */
}

.link-btn_red {
  background-color: #ff0004;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

/********MAIN********/

main {
  padding: 50px;
  position: relative;
  overflow: hidden;
  /* Regroupement de main et .container-main */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; /* Déplacé de main img, section, footer */
}

#main {
  position: absolute;
  left: 0;
  top: 0;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../img/main-background.avif);
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: grayscale(0);
  animation: bgReveal 1s ease-out forwards;
  z-index: -1;
}

@keyframes bgReveal {
  0% {
    opacity: 0;
    filter: grayscale(0);
  }
  100% {
    opacity: 1;
    filter: grayscale(1);
  }
}

.container-main {
  max-width: 1200px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.82);
  width: 700px;
  /* Regroupement de .container-main et .container-main_btn */
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.card button,
.proff,
.img-wrapper img {
  transition: 200ms;
}

/* main, .container-main { ... } -> Fusionné dans main */

.container-main_btn {
  justify-content: center;
  align-items: center;
  display: flex; /* Retiré du regroupement ci-dessus car il est plus spécifique ici */
}

/* main h1, .nav-title_links, footer .container-logo a { ... } -> Fusionné dans .nav-title_links */

main h1 {
  color: #ff0004;
  font-size: 60px;
}

.btn-border_red {
  background-color: transparent;
  color: #ff0004;
  border: 1px solid #ff0004;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

main img {
  width: 100%; /* Déplacé de main img, section, footer */
}

/* section, footer { width: 100%; } -> section dans section{}, footer dans footer{} */


/********VOS SÉLECTEURS SPÉCIFIQUES (Déplacés pour éviter les conflits de spécificité)********/
h1{
  color: red; /* La propriété color a été déplacée, mais est redéfinie dans main h1 */
}

.divSec{
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
}

.boxL, .boxR{
  width: 40%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img{
  width: 70%;
  height: auto;
}

#haut{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#bas{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#NSrej{
  font-size: 1em;
  width: 20%;
  height: 15%;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#DLN{
  font-size: 7em;
}

#pdecouvrerunepresentation{
  color: white;
  font-size: 3em;
}

#HallOfFameTitle{
  font-size: 10em;
}

/********MEDIA QUERIES********/

@media screen and (max-width: 1400px){
  #HallOfFameTitle{
    font-size: 8em;
  }
  #pdecouvrerunepresentation{
    font-size: 2em;
  }
}

@media screen and (max-width: 1079px) {
  footer nav {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .container-main {
    width: 90%;
  }
}

@media screen and (max-width: 1000px){
  #HallOfFameTitle{
    font-size: 5em;
  }
  #pdecouvrerunepresentation{
    font-size: 1.5em;
  }

  .divSec{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
  }

  .boxL, .boxR{
    width: 90%;
    height: auto;
    z-index: 10;
    opacity: 1 !important;
    display: flex;
    position: relative;
    justify-content: space-between; /* Espace entre image et texte */
    align-items: center;
    flex-direction: row; /* IMAGE À GAUCHE, TEXTE À DROITE */
    gap: 20px; /* Espace entre image et texte */
    top: auto;
    left: auto;
    transform: none !important;
    margin-bottom: 30px;
    padding: 15px;
  }

  .img{
    width: 50%; /* L'image prend 50% de l'espace */
    height: auto;
    display: block;
    flex-shrink: 0; /* Empêche l'image de rétrécir */
  }

  .boxTxt {
    width: 45%; /* Le texte prend 45% de l'espace */
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 1.2em;
  }

  .boxTxt div {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }

  .boxTxt i {
    font-size: 1.5em;
    cursor: pointer;
  }

  #DLN{
    font-size: 4em;
  }
  #bas{
    height: auto;
    gap: 20px;
    padding: 40px 20px;
  }
}

@media screen and (max-width: 840px) {
  header nav ul {
    display: none;
  }

  .container-info p {
    border-radius: 10px;
    background: #ff00003d;
    padding: 15px;
  }

  .event-img {
    width: 100%;
    max-width: 380px;
  }

  .header-burger_icon {
    display: flex;
    font-size: 30px;
    color: #ff0004;
  }

  main {
    padding: 0;
  }

  main img {
    display: none;
  }

  .container-calendar {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .event-info {
    max-width: 380px;
  }

  .container-event .event-img {
    width: 100%;
  }

  container-event_profile img {
    width: auto;
  }

  .stats {
    gap: 25px;
  }

  .container-footer,
  footer nav {
    gap: 20px;
  }

  footer nav ul {
    flex-wrap: wrap;
  }

  .stats,
  .container-info,
  .container-team,
  .social-proff,
  .container-footer,
  footer nav,
  .contact-info_row,
  .contact,
  .calendar,
  /* Regroupement des flex-direction: column */
  .contact,
  .social-proff {
    flex-direction: column;
  }

  .social-proff .proff {
    width: 90%;
  }
}

/* Pour les très petits écrans, passer en mode vertical */
@media screen and (max-width: 600px){
  .boxL, .boxR{
    flex-direction: column; /* Image en haut, texte en bas */
  }

  .img{
    width: 80%;
  }

  .boxTxt {
    width: 100%;
    text-align: center;
  }

  .boxTxt div {
    justify-content: center;
  }
}

@media screen and (max-width: 750px){
  #DLN{
    font-size: 3em;
  }
  #NSrej{
    width: 40%;
  }
}

@media screen and (max-width: 550px){
  #DLN{
    font-size: 2.3em;
  }
}

@media screen and (max-width: 400px){
  #HallOfFameTitle{
    font-size: 2.5em;
  }
  #pdecouvrerunepresentation{
    font-size: 1em;
    width: 80%;
    text-align: center;
  }
  #DLN{
    font-size: 1.5em;
  }
}

/********FOOTER********/
footer {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  gap: 15px;
  padding-bottom: 50px;
  width: 100%; /* Déplacé de main img, section, footer */
}

footer nav {
  width: 100%;
}

footer nav ul {
  transform: translateY(5px);
}

/* footer { ... } -> Fusionné ci-dessus */

footer .line {
  height: 2px;
  width: 100%;
  background-color: #ff0004;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-footer_links {
  font-size: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #ff0004;
}

.arrow-up {
  padding: 5px;
  background-color: red;
  color: black;
  border-radius: 100%;
  font-size: 12px;
}

.arrow-up i {
  animation: arrow_up 500ms infinite alternate-reverse linear;
}

@keyframes arrow_up {
  from {
    transform: translateY(1px);
  }

  to {
    transform: translateY(-1px);
  }
}