@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@media only screen and (orientation: portrait) and (max-width: 479px){
  .header-mobile {
    content-visibility: visible !important;
    display: block;
  }

  .header-burger_icon {
    content-visibility: visible !important;
    display: block;
  }

  #sommaire-header {
    display: none !important;
  }

  footer {
    padding: 0 0 50px !important;
  }

  footer ul {
    gap: 20px !important;
  }
}

@media not only screen and not (orientation: portrait) and (max-width: 479px){
  .header-mobile {
    content-visibility: hidden !important;
    display: none !important;
  }

  .header-burger_icon {
    content-visibility: hidden !important;
    display: none !important;
  }
}

@font-face {
  font-family: "Street-Fighter";
  src: url("../font/SSF4_ABUKET.ttf");
}

* {
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  position: sticky !important;
  x: 0;
  z-index: 4;
  height: 78px;
  border-bottom: 1px solid red !important;
  backdrop-filter: blur(10px);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  min-height: 25px;
  min-width: 25px;
  font-size: 18px;
  color: #fff;
  transition: 200ms;
}

header a i {
  min-width: 25px;
  min-height: 25px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

nav ul li a:hover{
  transform: translateY(-5px);
  border-bottom: solid 5px red;
}

header .link-btn_red {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.nav-title_links {
  font-family: "Street-Fighter" !important;
  font-size: 25px !important;
}

/* HEADER MOBILE */

.header-mobile {
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: black;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 100px;
}

.header-burger_icon {
  content-visibility: hidden;
  display: none;
}

.header-mobile:target {
  display: flex;
}

.header-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 30px;
}

.header-mobile ul a {
  color: #fff;
}

.header-mobile nav {
  height: auto;
  justify-content: right;
  font-size: 35px;
}

/* FOOTER */

footer {
  background-color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 2em 50px;
  min-height: 152px;
  margin-top: 1em;
  max-width: 100% !important;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-self: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

footer a {
  transition: 200ms;
}

footer .line {
  border: 1px solid red;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-footer_links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #ff0004;
  min-height: 25px;
}

.container-footer_links i,
.card i {
  cursor: pointer;
}

/* LOGO */
.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100%;
}

.container-logo img {
  min-height: 5em;
  padding-bottom: 1em;
  padding-top: 1rem;
}