@media only screen and (orientation: portrait) and (max-width: 479px){
  .header-mobile {
    content-visibility: visible !important;
  }
}

@media not screen and not (orientation: portrait) and (max-width: 479px){
  .header-mobile {
    content-visibility: hidden !important;
  }

  .header-burger_icon {
    content-visibility: hidden !important;
  }
}

/* HEADER */
header {
  position: sticky;
  x: 0;
  z-index: 2;
  height: 78px;
  border-bottom: 1px solid red;
  backdrop-filter: blur(10px);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  font-size: 18px;
  color: #fff;
  transition: 200ms;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}

header .link-btn_red {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

/* HEADER MOBILE */

.header-mobile {
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: black;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 100px;
}

.header-mobile:target {
  display: flex;
}

.header-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 30px;
}

.header-mobile ul a {
  color: #fff;
}

.header-mobile nav {
  height: auto;
  justify-content: right;
  font-size: 35px;
}

.header-burger_icon {
  display: none !important;
}

/* FOOTER */

footer {
  background-color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 2em 50px;
  height: 152px;
  margin-top: 1em;
}

footer nav {
  width: 90%;
  align-self: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
}

footer a {
  transition: 200ms;
}

footer .line {
  border: 1px solid red;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-footer_links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #ff0004;
  min-height: 25px;
}

.container-footer_links i,
.card i {
  cursor: pointer;
}

/* LOGO */
.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100%;
}

.container-logo img {
  min-height: 5em;
  padding-bottom: 1em;
  padding-top: 1rem;
}