details,
section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  flex-direction: column;
}

table {
  margin: 15px auto;
  width: 100%;
}

table,
th,
td,
tr {
  border: 1px solid red;
  border-collapse: collapse;
  padding: 10px;
}

.container-form_texarea {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

table tr th {
  background-color: red;
  color: #fff;
  border: 1px solid black;
}
