@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

summary {
    font-size: 1.5em;
    font-weight: bold;
}

#evtImg {
    width: 100%;
}

.redFont {
    color: red;
}

#events {
    display: grid;
    grid-template-columns: 2fr 1.25fr;
    grid-template-rows: auto;
}

#calendar {
    height: 80vh;
    width: 96%;
    margin: 0 2%;
}

#evt {
    margin-top: 2.5rem;
    padding: 0 1rem;
}

#evt h1 {
    text-align: center;
    margin: 2rem 0
}